PROYECTO 1/Notificador de nuevos datos.json
{
  "name": "Notificador de nuevos datos",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "notify",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        16
      ],
      "id": "99288bee-12b5-4888-9ad7-62c2c2a73335",
      "name": "Webhook",
      "webhookId": "fa5d5b0f-fcf8-498f-a179-fadc8ee6e747"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "11e0edf8-e83b-4c47-b35f-ae59f89203da",
              "leftValue": "={{ $json.body.gmail }}",
              "rightValue": "^[a-zA-Z0-9_%.+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        16
      ],
      "id": "f409ca17-c6ac-4614-b590-6aab8d1f27bf",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "08c87c4c-2a0d-4fee-b293-fb92d1541204",
              "name": "Timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "7606abbd-68dc-4a67-bb42-9a16d814ebe2",
              "name": "Email Ingresado",
              "value": "={{ $json.body.gmail }}",
              "type": "string"
            },
            {
              "id": "ed8991fa-dfa7-41b1-b25e-2b499178a957",
              "name": "Motivo",
              "value": "={{ $json.body.mensaje }}",
              "type": "string"
            },
            {
              "id": "440aba30-bdf5-4fbd-8760-0d2f0e46bf31",
              "name": "Datos Completos",
              "value": "={{ $json.body.nombre }}",
              "type": "string"
            },
            {
              "id": "8e75238f-f81b-4dd6-9e8d-ae244fee3acd",
              "name": "IP Origen",
              "value": "={{ $execution.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        112
      ],
      "id": "22e5d777-c7e3-4d24-bd22-a1106b48b9d3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sendTo": "cami15032006@gmail.com",
        "subject": "Nuevos datos recibidos en n8n",
        "message": "=<!DOCTYPE html> <html lang=\"es\"> <head>     <meta charset=\"UTF-8\"> </head> <body style=\"font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #ffffff; margin: 0; padding: 20px;\">     <div style=\"max-width: 600px; margin: 0 auto; padding: 30px; border-left: 4px solid #2196F3;\">         <h2 style=\"color: #333333; margin-top: 0;\">Mensaje recibido</h2>         <div style=\"background-color: #f5f5f5; padding: 20px; border-radius: 5px; margin: 20px 0;\">             <p style=\"color: #555555; font-size: 15px; line-height: 1.8; margin: 0; white-space: pre-wrap;\">{{ $('Webhook').item.json.body.mensaje }}</p>         </div>         <p style=\"color: #999999; font-size: 12px; margin-top: 30px;\">             <strong>Fecha:</strong> {{ $now.toFormat('dd/MM/yyyy HH:mm') }}         </p>     </div> </body> </html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        416,
        -96
      ],
      "id": "3ea64b25-c06e-4b09-8189-820babc840b3",
      "name": "Send a message",
      "webhookId": "8a1738a7-5755-48ea-b9b0-d40f62177091",
      "credentials": {
        "gmailOAuth2": {
          "id": "9kuLnV85yTWQk5ev",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1x1Hlo2_i_2AxADnkPW15B5-4UNUCPj9z8z7h7wTFPWs/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1x1Hlo2_i_2AxADnkPW15B5-4UNUCPj9z8z7h7wTFPWs/edit?gid=0#gid=0",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.Timestamp }}",
            "Email Ingresado": "={{ $json['Email Ingresado'] }}",
            "Motivo": "={{ $json.Motivo }}",
            "Datos Completos": "={{ $json['Datos Completos'] }}",
            "IP Origen": "={{ $json['IP Origen'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Ingresado",
              "displayName": "Email Ingresado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Motivo",
              "displayName": "Motivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Datos Completos",
              "displayName": "Datos Completos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "IP Origen",
              "displayName": "IP Origen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        608,
        112
      ],
      "id": "88fbf6fb-e6e3-4eef-8b76-a00b0874d0ad",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7P3z5Qv4L8VDiGkt",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0e6d1608-394e-4a97-a853-d7a0fc9e3771",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "291350fdd21c0e20341de2d4de0a9092ea8d933fd5dab2f61807290013cec322"
  },
  "id": "iMg0yrGR3Sv5j6Yv",
  "tags": []
}