PROYECTO 1/Notificador de nuevos datos.json
{
  "name": "Notificador de nuevos datos",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "notify",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        16
      ],
      "id": "99288bee-12b5-4888-9ad7-62c2c2a73335",
      "name": "Webhook",
      "webhookId": "fa5d5b0f-fcf8-498f-a179-fadc8ee6e747"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "11e0edf8-e83b-4c47-b35f-ae59f89203da",
              "leftValue": "={{ $json.body.email }}",
              "rightValue": "^[a-zA-Z0-9_%.+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        16
      ],
      "id": "f409ca17-c6ac-4614-b590-6aab8d1f27bf",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "cami15032006@gmail.com",
        "subject": "Nuevos datos recibidos en n8n",
        "message": "=<!DOCTYPE html> <html lang=\"es\"> <head>     <meta charset=\"UTF-8\"> </head> <body style=\"font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #ffffff; margin: 0; padding: 20px;\">     <div style=\"max-width: 600px; margin: 0 auto; padding: 30px; border-left: 4px solid #2196F3;\">         <h2 style=\"color: #333333; margin-top: 0;\">Mensaje recibido</h2>         <div style=\"background-color: #f5f5f5; padding: 20px; border-radius: 5px; margin: 20px 0;\">             <p style=\"color: #555555; font-size: 15px; line-height: 1.8; margin: 0; white-space: pre-wrap;\">{{ $('Webhook').item.json.body.mensaje }}</p>         </div>         <p style=\"color: #999999; font-size: 12px; margin-top: 30px;\">             <strong>Fecha:</strong> {{ $now.toFormat('dd/MM/yyyy HH:mm') }}         </p>     </div> </body> </html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        416,
        -80
      ],
      "id": "5c496a63-6c7e-41af-b3c8-216fdd36f0a5",
      "name": "Send a message",
      "webhookId": "459050fa-1fa5-4e77-9337-292113b1cd3c",
      "credentials": {
        "gmailOAuth2": {
          "id": "pxSG5eK9Nqi6ETWF",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        112
      ],
      "id": "22e5d777-c7e3-4d24-bd22-a1106b48b9d3",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "718e2325-4977-4208-9344-c85cab6dcf15",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "291350fdd21c0e20341de2d4de0a9092ea8d933fd5dab2f61807290013cec322"
  },
  "id": "iMg0yrGR3Sv5j6Yv",
  "tags": []
}