Proyecto 4 n8n+Claude/Tool - Analizar Factura.json
{
  "name": "Tool - Analizar Factura",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        352
      ]
    },
    {
      "parameters": {
        "url": "=={{ $json.query }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "factura.pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        432,
        352
      ],
      "id": "9ce2a163-0eb1-4b1a-b26d-faa4194b48ea",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        624,
        352
      ],
      "id": "7f18e23b-3535-489d-8248-1d30fa1eca3f",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=Analiza el siguiente texto extraído de una factura y extrae todos los datos estructurados:\n\n{{ $json.text }}"
            },
            {
              "role": "system",
              "content": "=Eres un experto en análisis de facturas y documentos contables. \nTu tarea es extraer datos estructurados de facturas.\n\nSIEMPRE responde en formato JSON válido con esta estructura exacta:\n{\n  \"proveedor\": \"nombre del proveedor o empresa emisora\",\n  \"numero_factura\": \"número o código de la factura\",\n  \"fecha\": \"YYYY-MM-DD\",\n  \"items\": [\n    {\"descripcion\": \"...\", \"cantidad\": 0, \"precio_unitario\": 0, \"subtotal\": 0}\n  ],\n  \"subtotal\": 0,\n  \"impuestos\": 0,\n  \"total\": 0,\n  \"moneda\": \"COP o USD o EUR\",\n  \"notas\": \"cualquier observación relevante\"\n}\n\nSi algún campo no está claro en el documento, usa \"No especificado\" para texto o 0 para números.\nResponde SOLO con el JSON, sin texto adicional."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        832,
        352
      ],
      "id": "d1663c59-cbc9-4679-a94e-2382d68dcde2",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "5OST7kjrchZEGvAf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6cbdaf14-153f-42e9-b1a3-62b1a28521da",
              "name": "response",
              "value": "=\t={{ $json.message.content[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1184,
        352
      ],
      "id": "3ae3d155-3592-4ecb-9ad8-b982927d0372",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "c94ac7dc-c8fc-4767-b186-c411ff8baee1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "253556449122b46fd977a32c9542433a07aec91e13cdc025f7cc1f4c95b35bb9"
  },
  "id": "SttiGjhff3Ulm5wQ",
  "tags": []
}