PROYECTO 2/Formulario sheets.json
{
  "name": "FORMULARIO SHEETS",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Contacto-Formulario",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -496,
        16
      ],
      "id": "fd594a2c-e315-4865-a17b-f7c525ddb9ee",
      "name": "Webhook",
      "webhookId": "61a385bf-2ffd-46cf-a365-ba0e79d20274"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "28409377-07bf-48a3-9e2c-0696ea1c8808",
              "leftValue": "={{ $json.body.email }}",
              "rightValue": "=[a-zA-Z0-9_%.+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -288,
        16
      ],
      "id": "2777dabc-8931-43b1-810b-0bd92fc30696",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "39a4d86d-c69f-4d59-98f2-971ff5bb3eec",
              "name": "Timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "85535015-6215-413c-940b-29ec00112fb4",
              "name": "ID_Solicitud",
              "value": "={{ Date.now()+'-'+Math.floor(Math.random()*10000) }}",
              "type": "string"
            },
            {
              "id": "0c77134a-28fd-4438-a5ed-fcdef6cdca89",
              "name": "Estado ",
              "value": "\"Nuevo\"",
              "type": "string"
            },
            {
              "id": "79035972-83cc-4b48-89ff-d880c66c0d97",
              "name": "Asigando_a",
              "value": "\"Soporte tecnico\"",
              "type": "string"
            },
            {
              "id": "d88c5145-d499-4b88-8b3c-718d849cc396",
              "name": "Origen_sistema",
              "value": "={{ $workflow.name }}",
              "type": "string"
            },
            {
              "id": "d9c20fbe-b9e8-40a7-8b7f-d52247307b02",
              "name": "Empresa",
              "value": "={{ $('Webhook').item.json.body.empresa }}",
              "type": "string"
            },
            {
              "id": "f52f1432-f638-4764-a109-5a2fa2e432f3",
              "name": "Mensaje ",
              "value": "={{ $('Webhook').item.json.body.mensaje }}",
              "type": "string"
            },
            {
              "id": "94d758eb-7633-4f31-a0e1-8112ad45f434",
              "name": "Prioridad",
              "value": "={{ $('Webhook').item.json.body.prioridad }}",
              "type": "string"
            },
            {
              "id": "54a55dda-b3c6-4d50-9ec2-d9698f28c75b",
              "name": "Origen",
              "value": "={{ $('Webhook').item.json.body.origen }}",
              "type": "string"
            },
            {
              "id": "0a1d0914-3926-4711-9b29-16cc2d9a6986",
              "name": "Asunto",
              "value": "={{ $('Webhook').item.json.body.asunto }}",
              "type": "string"
            },
            {
              "id": "0fced25a-69fc-44c1-873c-f67010543471",
              "name": "Telefono",
              "value": "={{ $('Webhook').item.json.body.telefono }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        -128
      ],
      "id": "930ae0fc-8ed0-4054-ae76-d94cac341a50",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sendTo": "cami15032006@gmail.com",
        "subject": "Nueva solicitud de contacto - {{ $('If').item.json.body.nombre }}",
        "message": "=<!DOCTYPE html> <html lang=\"es\"> <head>     <meta charset=\"UTF-8\">     <style>         body { font-family: 'Segoe UI', Tahoma, Geneva, sans-serif; background-color: #f5f5f5; margin: 0; padding: 20px; }         .container { max-width: 700px; margin: 0 auto; background: white; border-radius: 8px; box-shadow: 0 2px 8px rgba(0,0,0,0.1); overflow: hidden; }         .header { background: linear-gradient(135deg, #1a2f4b 0%, #2d5a8a 100%); color: white; padding: 30px; }         .header h2 { margin: 0; font-size: 24px; }         .content { padding: 30px; }         .field { margin-bottom: 20px; }         .label { color: #2d5a8a; font-weight: bold; font-size: 13px; text-transform: uppercase; letter-spacing: 1px; margin-bottom: 5px; }         .value { color: #333; font-size: 15px; line-height: 1.6; padding: 10px; background: #f9f9f9; border-left: 3px solid #00d4ff; }         .footer { background: #f9f9f9; padding: 20px; text-align: center; color: #666; font-size: 12px; border-top: 1px solid #ddd; }         .id-badge { display: inline-block; background: #00d4ff; color: white; padding: 5px 10px; border-radius: 4px; font-size: 12px; margin-top: 10px; }     </style> </head> <body>     <div class=\"container\">         <div class=\"header\">             <h2>✉️ Nueva Solicitud de Contacto Recibida</h2>             <p>Hemos recibido tu mensaje. Nos pondremos en contacto pronto.</p>         </div>                  <div class=\"content\">             <div class=\"field\">                 <div class=\"label\">👤 Nombre Completo</div>                 <div class=\"value\">{{ $('If').item.json.body.nombre }}</div>             </div>              <div class=\"field\">                 <div class=\"label\">📧 Email</div>                 <div class=\"value\">{{ $('If').item.json.body.email }}</div>             </div>              <div class=\"field\">                 <div class=\"label\">🏢 Empresa</div>                 <div class=\"value\">{{ $('If').item.json.body.empresa }}</div>             </div>              <div class=\"field\">                 <div class=\"label\">📱 Teléfono</div>                 <div class=\"value\">{{ $('If').item.json.body.telefono }}</div>             </div>              <div class=\"field\">                 <div class=\"label\">🎯 Asunto</div>                 <div class=\"value\">{{ $('If').item.json.body.asunto }}</div>             </div>              <div class=\"field\">                 <div class=\"label\">💬 Mensaje</div>                 <div class=\"value\" style=\"white-space: pre-wrap;\">{{ $('If').item.json.body.mensaje }}</div>             </div>              <div class=\"field\">                 <div class=\"label\">⚡ Prioridad</div>                 <div class=\"value\">{{ $('If').item.json.body.prioridad }}</div>             </div>              <hr style=\"border: none; border-top: 1px solid #ddd; margin: 30px 0;\">              <div style=\"background: #f0f7ff; padding: 15px; border-radius: 5px; font-size: 12px; color: #2d5a8a;\">                 <strong>🔍 Detalles del Sistema:</strong><br>                 ID de Solicitud: {{ $json.ID_Solicitud }}<br>                 Fecha/Hora: {{ $now.toFormat('dd/MM/yyyy HH:mm:ss') }}<br>                 Estado: {{ $json['Estado '] }}<br>                 Asignado a:  {{ $json.Asigando_a }}           </div>         </div>          <div class=\"footer\">             <p>Este es un email automático del sistema de contacto. Por favor no respondas a este correo. Usa el formulario web para enviar mensajes adicionales.</p>             <p><strong>Corporación Universitaria de Huila - Ingeniería Mecatrónica</strong></p>         </div>     </div> </body> </html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        80,
        -224
      ],
      "id": "d2861aa8-d0b5-4b22-a27e-475730ae8008",
      "name": "Send a message",
      "webhookId": "f04a7aa2-8778-4273-82cf-610a0b7fefa4",
      "credentials": {
        "gmailOAuth2": {
          "id": "9kuLnV85yTWQk5ev",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1wd3ITEBuX-lBGp_C-0xCSl7pknE1h8TqPXfbVh8xI5k/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1wd3ITEBuX-lBGp_C-0xCSl7pknE1h8TqPXfbVh8xI5k/edit?gid=0#gid=0",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.ID_Solicitud }}",
            "TELEFONO": "={{ $json.Telefono }}",
            "NOMBRE": "={{ $('Webhook').item.json.body.nombre }}",
            "EMPRESA": "={{ $json.Empresa }}",
            "MENSAJE": "={{ $json['Mensaje '] }}",
            "PRIORIDAD ": "={{ $json.Prioridad }}",
            "ASUNTO": "={{ $json.Asunto }}",
            "FECHA /HORA": "={{ $json.Timestamp }}",
            "ESTADO": "={{ $json['Estado '] }}",
            "ASIGNADO A": "={{ $json.Asigando_a }}",
            "EMAIL": "={{ $('Webhook').item.json.body.email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMAIL",
              "displayName": "EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONO",
              "displayName": "TELEFONO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NOMBRE",
              "displayName": "NOMBRE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMPRESA",
              "displayName": "EMPRESA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MENSAJE",
              "displayName": "MENSAJE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PRIORIDAD ",
              "displayName": "PRIORIDAD ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FECHA /HORA",
              "displayName": "FECHA /HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ASUNTO",
              "displayName": "ASUNTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ESTADO",
              "displayName": "ESTADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ASIGNADO A",
              "displayName": "ASIGNADO A",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        80,
        -48
      ],
      "id": "f95c16d0-8750-4170-84e4-a9dcadbd3b15",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7P3z5Qv4L8VDiGkt",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1wd3ITEBuX-lBGp_C-0xCSl7pknE1h8TqPXfbVh8xI5k/edit?gid=387183506#gid=387183506",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1wd3ITEBuX-lBGp_C-0xCSl7pknE1h8TqPXfbVh8xI5k/edit?gid=387183506#gid=387183506",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.ID_Solicitud }}",
            "FECHA/HORA": "={{ $json.Timestamp }}",
            "ERROR": "={{ $('If').item.json.body.email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ERROR",
              "displayName": "ERROR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FECHA/HORA",
              "displayName": "FECHA/HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        80,
        176
      ],
      "id": "f584b3b8-9d3f-4749-97f6-4fff3ac246fa",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7P3z5Qv4L8VDiGkt",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "39a4d86d-c69f-4d59-98f2-971ff5bb3eec",
              "name": "Timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "85535015-6215-413c-940b-29ec00112fb4",
              "name": "ID_Solicitud",
              "value": "={{ Date.now()+'-'+Math.floor(Math.random()*10000) }}",
              "type": "string"
            },
            {
              "id": "0c77134a-28fd-4438-a5ed-fcdef6cdca89",
              "name": "Estado ",
              "value": "\"Nuevo\"",
              "type": "string"
            },
            {
              "id": "79035972-83cc-4b48-89ff-d880c66c0d97",
              "name": "Asigando_a",
              "value": "\"Soporte tecnico\"",
              "type": "string"
            },
            {
              "id": "d88c5145-d499-4b88-8b3c-718d849cc396",
              "name": "Origen_sistema",
              "value": "={{ $workflow.name }}",
              "type": "string"
            },
            {
              "id": "d9c20fbe-b9e8-40a7-8b7f-d52247307b02",
              "name": "Empresa",
              "value": "={{ $('Webhook').item.json.body.empresa }}",
              "type": "string"
            },
            {
              "id": "f52f1432-f638-4764-a109-5a2fa2e432f3",
              "name": "Mensaje ",
              "value": "={{ $('Webhook').item.json.body.mensaje }}",
              "type": "string"
            },
            {
              "id": "94d758eb-7633-4f31-a0e1-8112ad45f434",
              "name": "Prioridad",
              "value": "={{ $('Webhook').item.json.body.prioridad }}",
              "type": "string"
            },
            {
              "id": "54a55dda-b3c6-4d50-9ec2-d9698f28c75b",
              "name": "Origen",
              "value": "={{ $('Webhook').item.json.body.origen }}",
              "type": "string"
            },
            {
              "id": "0a1d0914-3926-4711-9b29-16cc2d9a6986",
              "name": "Asunto",
              "value": "={{ $('Webhook').item.json.body.asunto }}",
              "type": "string"
            },
            {
              "id": "0fced25a-69fc-44c1-873c-f67010543471",
              "name": "Telefono",
              "value": "={{ $('Webhook').item.json.body.telefono }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -112,
        176
      ],
      "id": "b64e78a0-dc1d-42c0-99dd-ed4ba46022e4",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d0657e24-0790-4e08-a548-2a0c56049066",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "291350fdd21c0e20341de2d4de0a9092ea8d933fd5dab2f61807290013cec322"
  },
  "id": "A6lPIPy6ljl4KSri",
  "tags": []
}